h1, h2 {
    color: green;
  }
  
  p {
    color: gray;
  }
  
  ul {
    border: 5px solid blue;
  }
  
  ol {
    border: 5px solid red;
  }
  
  ol, ul {
    padding: 20px 50px;
    border-radius: 10px;
  }
  
  h1, strong {
    color: green;
  }
  
  em {
    color: gray;
  }